doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-switch.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/javascripts/vendor/jquery.min.js')
    script(type='text/javascript', src='/javascripts/vendor/socket.io.js')
    script(type='text/javascript', src='/javascripts/vendor/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/vendor/bootstrap-switch.min.js')
    script(type='text/javascript', src='/javascripts/epgingest.js')